.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.text-link {
  padding: 15px;
}

/*Carlos testing*/

#recipe-card {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid black;
  border-radius:20px;
  margin-bottom: 50px;
  background-color: white;
}

.recipe-head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe-title {
  font-family: 'Courgette', cursive;
  font-size: 35px;
  margin-left: auto;
  margin-right: 0px;
}

.submit-button {
  border: 0;
  background: rgba(0, 0, 0, 0);
  font-size: 30px;
  margin-left: 0px;
  margin-right: auto;
}

.submit-button:hover {
  cursor: pointer;
}

.food-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:30px;
  border:1px solid grey;
}

.recipe-text, .ingredients-list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Kurale', serif;
  line-height: 1.75;
  padding-left: 3%;
  padding-right: 3%;
}

.ingredients-list {
  text-transform: capitalize;
  margin-left: 17px;
}

.subtitles {
  margin-left: 17px;
  font-family: Kurale;
}