.App {
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/public/background-img.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

#title {
  font-family: 'Lavishly Yours', cursive;
  font-size: 100px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 0.1;
  text-shadow: 2px 4px lightyellow;
}

.search {
  text-align: center;
  margin: 10px;
  font-family: kurale;
  font-size: 18px;
}

.search input {
  margin: 40px 25px 20px 25px; 
  padding: 5px 20px;
  border-radius: 5px;
  font-family: Kurale;
  font-size: 20px;
}

.search ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search li{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  max-width: 280px;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0 5px 5px 5px;
}

.search img {
  border-radius: 10px;
  border: 1px solid gray;
}

.search a {
  color: black;
}

img{
  max-width: 250px;
}

/* Clara - testing */

.top-content nav{
  background-color: black;
  padding-top: 15px;
  text-align: center;
  font-family: Kurale;
  font-size: 23px;
  line-height: 0.5;
}

.top-content a{
  padding: 15px;
  text-decoration: none;
}

.home_active{
  color: lightgreen;
  text-decoration: underline!important;
}

.home_inactive{
  color: white;
}